body{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
body p{
    font-size: 18px;
}
.Yeseva{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 700;
    padding-left: 9px;
    border-left:4px solid #FF5959;
}
.colorful-text-orange{    
    color: #FFAD5A;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 75%;
}
.button-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #FF5959;
    padding: 8px 12px;
    border-radius: 7px;
}
#center-text{
    text-align:center;
    font-size: 48px;
    font-weight: bold;
}
.group-container{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.mission-group img{
    width: 141px;
    height: 141px;
}
.three-group{
    margin: 10px;
    padding: 15px 15px;
    border-radius: 20px;
}
.first-group{
    width: 33%;
    padding: 20px;
    background-color: #c5f9ff;
}
.second-group{
    width: 33%;
    padding: 20px;
    background-color: #f5d0d0d8;
}
.third-group{
    width: 33%;
    padding: 20px;
    background-color: #FFF4D6;
}
.Without-limits{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.code-image img{
    width: 70%;
}
.develop-header h1{
    font-size: 40px;
    font-weight: bolder;    
}
.develop-header p{
    width: 90%;
}
.company-header h1{
    font-size: 40px;
    font-weight: bold;
}
.company-header p{
    font-size: 18px;
}
.customer-header h2{
    font-size: 35px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 20px;
}
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(228, 213, 213);
    padding: 10px;
    margin: -8px;
}
footer h1{
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
footer p{
    font-size: 13px;
}
.footer a{
    text-decoration: none;
    color: rgb(224, 178, 178);
}
.footer-header-color{
    color: #FF5959;
}

